<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./Assets/checkAtt.ico" type="image/x-icon">
    <title>Attendance - Check Attendance</title>
    <link rel="stylesheet" href="./students/stdCss/checkAtt.css">
</head>

<body>
    <div class="topContainer">
        <div class="headingContainer">
            <h1>Attendance App</h1>
        </div>
        <div class="formContainer">
            <div class="subheading">Filter by:</div>
            <form action="/check-attendance" method="get">
                <div class="inputCont">
                    <input type="text" name="name" id="name" placeholder="name" autocomplete="off">
                </div>
                <div class="inputCont">
                    <input type="text" name="roll" id="roll" placeholder="roll Num" autocomplete="off">
                </div>
                <div class="inputCont">
                    <input type="text" name="teacher_name" id="teacher_name" placeholder="teacher's name"
                        autocomplete="off">
                </div>
                <div class="inputCont">
                    <input type="text" name="teacher_id" id="teacher_id" placeholder="teacher_id" autocomplete="off">
                </div>
                <div class="inputCont">
                    <input type="text" name="class" id="class" placeholder="class" autocomplete="off">
                </div>
                <div class="inputCont">
                    <input type="text" name="subject" id="subject" placeholder="subject" autocomplete="off">
                </div>
                <div class="inputCont">
                    <input type="date" name="date" id="date" autocomplete="off">
                    <button>Get</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Details -->
    <% if (filterStatus) { %>
        <div class="detialsHeading">
            <!-- <h2>Details</h2> -->
            <div>
                <h3>Filters</h3>
                <% for (let key in filters) { %>
                    <p>
                        <%= filters[key] %>
                    </p>
                    <% } %>
            </div>
        </div>
        <div class="detailsCont">
            <% for (let i=0; i < data.length; i++) { %>
                <div class="mainBox">
                    <div class="topBox">
                        <div class="box">
                            <p>name</p>
                            <span>
                                <%= data[i].name %>
                            </span>
                        </div>
                        <div class="box">
                            <p>roll number</p>
                            <span>
                                <%= data[i].roll %>
                            </span>
                        </div>
                        <div class="box">
                            <p>teacher name</p>
                            <span>
                                <%= data[i].teacher_name %>
                            </span>
                        </div>
                        <div class="box">
                            <p>teacher id</p>
                            <span>
                                <%= data[i].teacher_id %>
                            </span>
                        </div>
                        <div class="box">
                            <p>subject</p>
                            <span>
                                <%= data[i].subject %>
                            </span>
                        </div>
                        <div class="box">
                            <p>class</p>
                            <span>
                                <%= data[i].class %>
                            </span>
                        </div>
                    </div>
                    <div class="bottomBox">
                        <div class="dateCont">
                            <span>
                                <%= data[i].date %>
                            </span>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
        <% } else { %>
            <div class="msgBox">
                <h4>Use filters to get attendance</h4>
            </div>
            <% } %>
</body>

</html>